video {
  width: 100%;
  max-width: 100%;
  min-width: 720px;
  display: block;
}


.room {
  width: 100%;
}
.video-call-container {
  width: 100%;
  text-align: center;
}

.video-controls {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.video-controls>div {
  display: inline-block;
}
.video-controls>div>button {
  margin: 0.5em;
}

.video-controls>div:first-child {
  text-align: left;
}

.video-controls>div:last-child {
  text-align: right;
}


.local-participant {
}

.remote-participants {
  background-color: red;
  min-height: 80px;
}


.main-video, .side-video {
  position: absolute;
}
.main-video {
  width: 100%;
}
.side-video {
  top: 2em;
  right: 1em;
  width: 300px;
  overflow: hidden !important;
}
.video-stream {
  width: 100% !important;
  height: auto !important;
  object-fit: cover;
}