.container__slots {
  height: 4800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 85px;
  width: 100%;
  border: 2px solid black;
}

.container__slots + .container__slots{
  border-left: none;
}