#profile-main-container {
  background-color: #ededed;
  // Kind of hacky but will work as long as the length of the container does not grow before the demo
  height: 170vh;
}

.profile-paper {
  margin-left: auto;
  margin-right: auto;
  width: 65vw;
  border: 1px solid #c7c7c7;
}

.profile-header-background {
  background-color: #FBB03B;
  background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
  height: 15vw;
  position: relative;
}

#profile__avatar {
  display: block;
  height: Min(200px, 15vw);
  width: Min(200px, 15vw);
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#profile__avatar img {
  height: Min(200px, 15vw);
  width: Min(200px, 15vw);
}

.profile-header-main {
  margin-bottom: 25px;
}

#profile-name {
  text-align: center;
  margin-top: Min(125px, 9vw);
}

.profile-emojis {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.emoji {
  width: 35px;
  height: 35px;
  padding: 8px;
  margin-right: 1rem;
}

.emoji-image {
  width: 35px;
  height: 35px;
}

.acheivement-badge {
  padding: 10px;
  background-color: #FBB03B;
}

.profile-section {
  margin: 3vw;
}

.profile-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FBB03B;
}
