@import "~normalize.css/normalize.css";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {
  width: 100%;
}

html, body, #root, #root>div {
  height: 100%
}